path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

text {
  font: 10px sans-serif;
  stroke: #FBC02D;
}

.horizon {
  stroke: #CFD8DC;
  stroke-width: 1.5px;
}

.graticule {
  stroke: #CFD8DC;
  stroke-opacity: .15;
}

.solar-path {
  stroke: #FBC02D;
  stroke-width: 2px;
}

.sun circle {
  fill: #FFC107;
  stroke: #FBC02D;
}

.sun text {
  text-anchor: middle;
}

.ticks--sun circle {
  fill: #FFC107;
  stroke: #fff;
  stroke-width: 2px;
}

.ticks--sun text {
  text-shadow: 0 1px 0 #607D8B, 0 -1px 0 #607D8B, 1px 0 0 #607D8B, -1px 0 0 #607D8B;
}

.ticks line {
  stroke: #000;
}

.ticks text {
  text-anchor: middle;
}

.ticks--azimuth text:nth-of-type(9n + 1) {
  font-weight: bold;
  font-size: 14px;
}

#waiting {
  font: 14px sans-serif;
  position: absolute;
  top: 540px;
  left: 240px;
  width: 480px;
  margin: auto;
  text-align: center;
}

#waiting b {
  font-size: 24px;
  line-height: 1.5em;
}
